.detailBox {
    padding: 50px 100px;
    min-width: 1000px;
}

.detailBoxSub-tool-box {
    margin: 0px 10px;
    display: flex;
    justify-content: space-between;
}

.detailContainer-top {
    display: flex;
    justify-content: flex-end;
}

.detailContainer-bottom {
    display: flex;
    justify-content: flex-end;
}

.detailContainer {
    padding-top: 75px;
}

.detailTitle {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 35px;
    padding: 30px 30px 30px 0px;
}


.likeCount input {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bolder;
    margin-right: 20px;
    font-size: 16px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.likeCount img {
    padding-bottom: 5px;
    vertical-align: middle;
}

.reportBtn img {
    margin: 0px 5px 3px 0px;
    vertical-align: middle;
}

.reportBtn a {
    color: #C22D2E;
    font-weight: bolder;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration:none;
}

.green-text-btn {
    color: #9AC353;
    text-decoration:none;
    /*margin-right: 35px;*/
   margin: 0 15px;
   font-family: 'Noto Sans KR', sans-serif;
 }


 .likeBtn a:hover{
    color: black;
}

.reportBtn a:hover{
    color: #C22D2E;
}

.green-text-btn a:hover, .deleteBtn a:hover{
    color: #9AC353;
}

.reportBtn:hover, .likeCount input:hover, .green-text-btn:hover, .deleteBtn:hover {
    text-shadow: 1px 1px 1px rgb(229, 229, 229);
 }

 /* body css */

 .detailCategory {
    font-size: 23px;
    font-weight: bolder;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #e8e8e8;
    font-family: 'Noto Sans KR', sans-serif;
 }

.detailBody {
    margin: 15px 0px 15px 0px;
}

.detailMain {
    font-weight: 400;
    padding: 25px 0px 25px 0px;
    font-family: 'Noto Sans KR', sans-serif;
}


.updateDate{
    color:black;
    margin-right: 10px;
}

.newUpdate{
    color: red;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
}
.noticeLink{
    margin-left: 5px;
    color:#9AC353;
}

.noticeLink:hover{
    border-bottom: 1px solid #b4b4b4;
}