<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>성균위키 홈화면 >< </h1>

    <form method="POST" action="{% url 'posts:postList' %}" class="" role="search">
        {% csrf_token %}    
        <input name="kw" class="" type="search" placeholder="Search" aria-label="Search">
        <button class="" type="submit">Search</button>
    </form>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">로그아웃</a>
    {% else %}
        <a href="{% url 'login' %}">로그인</a>
    {% endif %}

</body>
</html>