{% extends 'navbar.html' %}
{% load static %}

{% block content %}
    <!-- css 이름 변경-->
    <link rel="stylesheet" href="{% static 'css/report.css' %}">
{% endblock %}


{% block content_side %}
    <h1>상세 페이지</h1>
    <h1>글쓴이: {{ postDetail.user_id }} </h1>
    <p>title: {{ postDetail.title }}</p>
    <p>내용: <br/> {{ postDetail.body }}</p>

    <!-- 삭제, 수정은 글 작성자에게만 보여야 한다-->
    <!-- 신고, 좋아요는 로그인 한 회원에게만 보여야 한다-->
    {% if user.is_authenticated %}
        {% if user == postDetail.user_id %}
            <a href="{% url 'posts:edit' postDetail.id %}">수정</a><br/>
            <!-- 삭제를 실행할 URL: data-uri, jquery 사용-->
            <a href="javascript:void(0)" class="delete" data-uri="{% url 'posts:delete' postDetail.id %}">삭제</a><br/>
            <p>좋아요 {{ likeNum }}개</p>
        {% else %}
            <a href="{% url 'posts:report' postDetail.id %}">신고</a>
            <form action="{% url 'posts:like' postDetail.id %}">
                {% csrf_token %}
                <input type="submit" , value="좋아요 {{ likeNum }}개">
            </form>
        {% endif %}
    {% else %}
        <p>좋아요 {{ likeNum }}개</p>
    {% endif %}

{% endblock %}

{% block script %}
    <script type='text/javascript'>
        const deletePost = document.getElementsByClassName("delete");
        Array.from(deletePost).forEach(function (post) {
            post.addEventListener('click', function () {
                if (confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
                }

            });
        });
    </script>

{% endblock %}
