{% extends 'navbar.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/post-report.css' %}">
{% endblock %}

{% block content_side %}
<form action="" method="post">
    {% csrf_token %}
    <div class="reportBox">
        <div class="reportContainer">
            <div class="reportTitle">신고하기</div>
            <div class="selectedPost">선택한 글: "{{ post.title }}"</div>
        </div>
        <textarea name="report_body" class="reportBody" placeholder="신고 사유를 입력해주세요." id="reportBody"></textarea><br>
        <input type="submit" value="제출하기" class="submitBtn"><br>
    </div>
</form>
{% endblock %}

{% block script %}
<script>
    document.querySelector(".submitBtn").addEventListener("click", function(event){
        console.log("Zz");
        alert('제출이 완료되었습니다.');
        history.back;
    });
</script>
{% endblock %}