{% extends 'navbar.html' %}
{% load static %}

<!-- css 이름 변경-->
{% block content %}
    <link rel="stylesheet" href="{% static 'css/post-edit.css' %}">
{% endblock %}

{% block content_side %}

<div class="editBox">
    <div class="editContainer">
        <div class="subject">편집하기</div>
    </div>

    <form method="POST" action="{% url 'posts:edit' postDetail.id %}" class="" role="write">
        {% csrf_token %}  
        <input name="title" value="{{ postDetail.title }}" class="title" placeholder="제목을 입력해주세요.">
        
        <textarea name="body" class="content" placeholder="내용을 입력해주세요.">{{ postDetail.body }} 
        </textarea>

        <div class="submitDiv">
            <input type="submit" value="제출하기" class="submitBtn">
        </div>
    </form>
</div>

{% endblock %}


{% block script%}

<script>
    document.querySelector(".submitBtn").addEventListener("click", function(){
        alert('수정이 완료되었습니다.');
        history.back;
    });
</script>

{% endblock %}