{% extends 'navbar.html' %}
{% load static %}

{% block content %}
    <!-- css 이름 변경-->
    <link rel="stylesheet" href="{% static 'css/report.css' %}"> 
{% endblock %}


{% block content_side %}
<h1>글 수정하기</h1>

<!-- 글 수정 폼 -->
<form method="POST" action="{% url 'posts:edit' postDetail.id %}" class="" role="write">
    {% csrf_token %}  

    <textarea name="title" class="" placeholder="write the title"> 
        {{ postDetail.title }}
    </textarea><br>

    <textarea name="body" class="" placeholder="write the body">
         {{ postDetail.body }} 
    </textarea><br>
    <input type="submit" value="작성"><br>
</form>

{% endblock %}