*{
    padding:0;
    margin:0;
}

body{
    animation: fadein 2s;
    transition: background-image 2s ease-in-out;
    background-image: url("../img/background.png");
    background-size: cover;
    animation-direction: normal;
}
@keyframes fadein{
    from { opacity: 0;}
    to{ opacity: 1;}
}

a{
    color: #000000;
    text-decoration: none;
}

/*==============Header=============*/
.slideDiv{
    position: absolute;
    top: 0px;
    left: -300px;
    width: 300px;
    height:100%;
    background: #e8e8e8; 
    z-index: 9999;  
    border-radius: 10px;
}

.icon-slideClose{
    position: relative;
    background: url("../img/slide-close.png") no-repeat center;
    background-size: contain;
    border: 0px;
    width: 50px;
    height: 50px;
    float:right;
}

.icon-slideClose:hover {
    cursor: pointer;
}

.slideOpenMotion{
    animation-name: slideOpenMotion;
    animation-duration:0.7s;
    animation-duration: leaner;
    animation-direction:alternate;
    animation-fill-mode: forwards;
}

@-webkit-keyframes slideOpenMotion {
    100% {
      left:0px;
    }
}

.slideCloseMotion{
    animation-name: slideCloseMotion;
    animation-duration:0.7s;
    animation-duration: leaner;
    animation-direction:reverse;
    animation-fill-mode: forwards;
}

@-webkit-keyframes slideCloseMotion {
    100%{
        left:0px;
    }
    0% {
      left:-300px;
    }
}


.menuListDiv{
    margin-top: 45px;
}

.subMenu{
    height: 30px;
    margin-top: 10px;
    padding: 7px 0 0 30px;
    text-align: left;
}

.subMenu:hover{
    background-color: #DAD9D7;
}

/* submenu css */
.menuListDiv-details {
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans KR', sans-serif;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* mainMenu */
.menuListDiv-details > summary {
    color: rgb(4, 4, 4);
    font-size: 20px;
    font-weight: 800;
    padding: 5px 0;
    font-family: 'Noto Sans KR', sans-serif;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.menuListDiv-details > summary:hover{
    background-color: #DAD9D7;
    cursor: pointer;
}

.nav-bar{
    position: sticky;
    margin-top: 15px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    z-index: 9998;
}

.icon-human {
    position: relative;
    background: url("../img/user.png") no-repeat center;
    background-size: contain;
    border: 0px;
    width: 50px;
    height: 50px;
}

.icon-human:hover {
    cursor: pointer;
}

.icon-list {
    position: relative;
    background: url("../img/menu.png") no-repeat center;
    background-size: contain;
    border: 0px;
    width: 45px;
    height: 45px;
    margin-top:8px;
}

.icon-list:hover {
    cursor: pointer;
}

/*===========드롭다운 메뉴=========*/

.hidden-nav-bar {
    position: absolute;
    right: 5px;
    top: 65px;
    width: 250px;
    height: 180px;
    background-color: #e8e8e8;
    border-radius: 10px;
    box-shadow: -1px -1px 1px 1px gray inset;
    display: none;
    font-size: 16px;
}

.hidden-nav-bar::before {
    display: block;
    position: absolute;
    content: '';
    top:-20px;
    right:10px;
    width: 0;
    height: 0;
    border-bottom: 10px solid #e8e8e8;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.human-info-name {
    padding: 20px 10px 15px;
    font-family: 'Noto Sans KR', sans-serif;
}

.userName{
    font-weight: bold;
    font-size: 20px;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.human-info-menu{
    padding: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}

.userMenu{
    display: block; 
    padding: 4px 0;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.userMenu:hover{
    background-color: #DAD9D7;
}
/*==============Main=============*/
main {
    height: 90%;
}

.home-main { 
    display: flex;
    position: relative;
    top: 140px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.main-logo {
    margin:10px 0;
    width: 450px;
    height: 160px;
}

.skkuSvg{
    margin-left: 40px;
    float:left;
}

.wikiSvg{
    float:right;
}

.text-skku{
    animation-name: skkuMotion;
    font-size: 6em;
    font-weight: 800;
    fill: #8DC63F;
    z-index: 9999;
    text-shadow: 2px 2px 2px gray; 
    stroke-dasharray: 368px;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.text-wiki{
    font-size: 6em;
    font-weight: 800;
    fill: #072A60;
    z-index: 9999;
    text-shadow: 2px 2px 2px gray; 
    stroke-dasharray: 555px; 
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;  
}

.main-logo:hover{
    animation: skkuMotion 2s linear;
    animation-fill-mode: forwards; 
     
}

@-webkit-keyframes skkuMotion {
    0%   {
        stroke:white;
        stroke-width: 2px;
        stroke-dashoffset: 368px;
    }
    70% {
        fill: transparent;
    }
    98% {
        stroke:white;
        stroke-width: 2px;
    }
    100% {
        stroke:white;
        stroke-width: 2px;
        stroke-dashoffset: 0px;
    }
}

@-webkit-keyframes wikiMotion {
    0%   {
        stroke:white;
        stroke-width: 2px;
        stroke-dashoffset: 555px;
    }
    70% {
        fill: transparent;
    }
    98% {
        stroke:white;
        stroke-width: 2px;
    }
    100% {
        stroke:white;
        stroke-width: 2px;
        stroke-dashoffset: 0px;
    }
}


.search-bar {
    position: relative;
    margin:40px 0 110px 0;
    background-color: white;
    width: 32%;
    min-width: 400px;
    height: 40px;
    border-radius: 50px;
    box-shadow: 1px 1px 2px 2px gray inset;
    outline: 0;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

#kw{
    font-family: 'Noto Sans KR', sans-serif;
}

#kw::placeholder{
    font-family: 'Noto Sans KR', sans-serif;
}
.search-button {
    display: block;
    position: absolute;
    left: 10px;
    top:10px;
    content: '';
    width: 20px;
    height: 20px;
    background: url("../img/icon-search.png") no-repeat center;
    background-size: contain;
    cursor: pointer;
    border: 0;
    outline: 0;
}

#kw {
    background: none;
    border: 0;
    outline: 0;
    height: 30px;
    margin: 6px 0 4px 0;
    width: 80%;
    float: right;
    position: relative;
    right:30px;
}