*{
    margin:0;
    padding:0;
}
/*
.button{
    position:absolute;
    text-align:center;
    top:240px;
    left:590px;
    font-size:40pt;
    max-width: 1082px;   
}*/

.button {
    text-align: center;
    padding-top: 13%;
    font-size:45pt;
    font-weight:bold;
}

.button:hover{
    background-image:url(fall3.jpg);
    -webkit-background-size: cover;
    background-size:cover;
    transition-duration:0.9s;
    transition: all is ease-in-out;
    font-size:60pt;
    font-weight:bold;
    text-shadow: 9px 9px 9px grey;
    height:100vh;

}

.form-control:focus {
    box-shadow:3%;
  }

  .container{
    position:absolute;
    left: 500px;
    top:390px;
    width:585px;
}

.allDiv{
    position: relative;
    padding: 10px 10px;
}
.navDiv{   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
}

.slideDiv{
    position: absolute;
    left: -300px;
    width: 300px;
    height:100%;
    background: #d7ec14;
}

.imgDiv{
    display:flex;
    justify-content: center;
}

.userDiv{
}

.userBtn{
    cursor: pointer;
    margin-right: 0px;
}

.userBtn:hover{
    background-color: gray;
}

.dropdownDiv{
  width: 150px;
  height: 80px;
  float: right;
  margin-top: 3px;
  display: none;
}

.dropdownDiv > ul > li {
    list-style: none;
    display: flex;
    justify-items: column;

}
.dropdownDiv > ul > li > a{
    text-decoration: none;
    background-color: gray;
    color: white;
    width: 120px;
    height: 40px;
    text-align: center;
    padding: 3px 3px;
}

.dropdownDiv > ul > li > a:hover{
    background-color: #ececec;
}


