.result {
    width: 95%;
    margin: 35px 50px;
}

.noResultBox {
    /*display: flex;*/
    /*justify-content: space-between;*/
    width: 100%;
    min-width: 500px;
}


.float-wrapper::after{
    content: '';
    display: block;
    clear: both;
}

.resultTitle {
    display: inline-block;
    float: left;
    font-weight: 600;
    font-size: 40px;
    padding: 30px 30px 30px 0px;
    min-width: 300px;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -2px;
}

.newPost {
    display: inline-block;
    float: right;
    height: 30px;
    padding-top: 70px;
    color: #9AC353;
}


.keyword, .length {
    font-weight: bold;
}

.resultSub {
    display: flex;
    font-family: 'Noto Sans KR', sans-serif;
}

.resultSub1 {
    padding-right: 10px;
    font-size: 25px;
    
}

.resultSub2 {
    font-size: 15px;
    padding-top: 9px;
}

.boxContainer {
    border-top: 1px solid #bebebe;
    padding: 20px 10px;
    margin: 30px 0px 30px 0px;
}

.boxContainer2 {
    border-top: 1px solid #bebebe;
    padding: 20px 10px;
    margin: 30px 0px 30px 0px;
}

.resultBox{
    animation: fadein 2s;
    animation-direction: normal;
}

@keyframes fadein{
    from { opacity: 0;}
    to{ opacity: 1;}
}

.resultName, .noPost {
    font-size: 25px;
    font-weight: bolder;
    padding-bottom: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}

.resultName-text {
    margin-left: 30px;
    position: relative;
}

.resultName-text::before{
    display: inline-block;
    position: absolute;
    content: '';
    background: url("../img/icon-paper.png") no-repeat center;
    background-size: contain;
    width: 28px;
    height: 28px;
    top:2px;
    left: -35px;
}

.noPost {
    margin-left: 30px;
    position: relative;
}

.noPost::before{
    display: inline-block;
    position: absolute;
    content: '';
    background: url("../img/icon-warn.png") no-repeat center;
    background-size: contain;
    width: 28px;
    height: 28px;
    top:2px;
    left: -35px;
}

.resultName a {
    text-decoration: none;
    color: inherit;

}

.resultName a:hover {
    color: rgb(99, 99, 99);
    transition: 0.3s;
}

.resultSummary {
    padding: 5px 5px 10px 0px;
    font-weight: lighter;
    font-family: 'Noto Sans KR', sans-serif;

}

.newPost a {
    text-decoration: none;
    color: inherit;
    font-family: 'Noto Sans KR', sans-serif;
}

.newPost a:hover {
    text-shadow: 1px 1px 1px rgb(229, 229, 229);
    color: #9AC353;
}