{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <!-- css 추가 -->
    {% block content %}

    {% endblock %}

    <!-- jquery 사용 -->
    <!--<script src="{% static 'js/jqeury-3.6.0.min.js' %}"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <title>성균위키 >< </title>
</head>
<body>
<!-- 상단바 -->
<header>
    <div class="nav-bar">
        <button class="icon-list"></button>

        <div class="top-center-nav-bar">
            <a href="{% url 'home' %}" class="icon-home-logo" style="display: inline-block">
                <img src="{% static 'img/skkuwiki.png' %}" alt="SkkuWiki" width="150"/>
            </a>
            <form action="{% url 'posts:postList' %}" method="get">
                <div class="top-search-bar">
                    <input type="text" name="kw" id="top-kw" placeholder="검색어를 입력해주세요">
                    <button class="top-search-button" type="submit"></button>
                </div>
            </form>
        </div>


        <button class="icon-human"></button>
        <div class="human-info hidden-nav-bar">
            <div class="drop-wrapper" style="display: none">
                <div class="human-info-name">
                    {% if user.is_authenticated %}
                        <p>{{ user.username }}님</p>
                    {% else %}
                        <p>로그인해주세요</p>
                    {% endif %}
                </div>
                <div class="human-info-menu">
                    <a href="" style="display: block; padding: 2px 0;">내 티어/활동</a>
                    <a href="" style="display: block; padding: 2px 0;">내 문서 목록</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" style="display: block; padding: 2px 0;">로그아웃</a>
                    {% else %}
                        <a href="{% url 'login' %}" style="display: block; padding: 2px 0;">로그인</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

{% block content_side %}

{% endblock %}

<script src="{% static 'js/home.js' %}"></script>
{% block script %}

{% endblock %}

</body>
</html>