<nav class="navbar sticky-top navbar-white bg-white">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="skkuwiki.png" alt="" width="100" height="35">

          </a>
      <a class="navbar-brand" href="{% url 'login' %}">
        <img src="https://img.favpng.com/3/7/23/login-google-account-computer-icons-user-png-favpng-ZwgqcU6LVRjJucQ9udYpX00qa.jpg" alt="" width="30" height="30">

      </a>

    </div>

  </nav>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-white p-4">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">What...</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Should....</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">We...</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">Add....here????</a>
          </li>
          
        <li class="nav-item">
            <a class="nav-link disabled">...</a>
          </li>
      </ul>
    </div>
  </div>
